[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=sonbui
Group=sonbui
WorkingDirectory=/home/sonbui/app/src
Environment="PATH=/home/sonbui/app/venv/bin"
EnvironmentFile=/home/sonbui/.env
ExecStart=/home/sonbui/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target